[submodule "3rdparty/caffe"]
	path = 3rdparty/caffe
	url = https://github.com/andriy-tsvikla/caffe.git
[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/andriy-tsvikla/pybind11.git
